services: 
  db: 
    image: postgres:16
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=app_db
    volumes: 
      - db-data:/var/lib/postgresql/data

  backend: 
    image: node:latest
    working_dir: /app
    volumes: 
    - ./backend:/app
    environment: 
      - DATABASE_URL=postgres://user:password@db:5432/app_db
    depends_on:
      - db
    ports: 
    - "3000:3000"
    command: sh -c "npm install && npm run dev"

  frontend:
    image: node:latest
    working_dir: /app
    volumes:
      - ./frontend:/app
    environment:
      - VITE_API_URL=http://localhost:3000
    depends_on:
      - backend
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev"
  
volumes: 
    db-data: